/* https://nuxtjs.org/guide/assets#webpacked */

@charset 'utf-8';
@import '~bulma/sass/utilities/initial-variables';

$primary: #c9424b;

@import '~bulma';

* {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: #4d4d4d #d6d6d6;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #d6d6d6;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
    border: 2px solid #d6d6d6;
    border-radius: 99px;
  }
}

#particles,
[no-select] {
  cursor: crosshair !important;
}

// REVIEW: https://codepen.io/kathykato/pen/zYYRGRQ
[data-content] {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: clip-path 275ms ease;

  &:hover {
    color: rgba(255, 255, 255, 0.7) !important;

    &::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  &::before {
    color: white;
    position: absolute;
    text-decoration: underline;
    content: attr(data-content);
    transition: clip-path 275ms ease;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  }
}
